<!DOCTYPE html>
<html>
  <head>
    <title>vue-validator v2 prototype</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <div id="app">
      <p>{{msg}}</p>
      <input type="checkbox" id="checkbox1" v-model="visibleValidator">
      <label for="checkbox1">visible validator</label>
      <input type="checkbox" id="checkbox2" v-model="visibleTemplate">
      <label for="checkbox2">visible template tag</label>
      <validator v-if="visibleValidator" :groups="[group1,group2,'group3']" name="validator1">
        <a href="javascript:void(0);" @click="onClick">Incremental</a>
        <form novalidate>
          <input type="text" name="field1" @valid="onValid" @invalid="onInvalid" group="group1" v-validate:model1.required>
          <input type="text" name="field2" group="group1" v-validate:model2.maxlength="2">
          <input type="text" name="field3" group="group2" v-validate:model3.min="max">
          <input type="text" name="field4" @valid="onValid" @invalid="onInvalid" group="group2" number v-validate:model4.max.min.required="{ min: 1, max: max }">
          <input type="text" name="field5" group="group2" v-validate:model5.max.min.required="obj">
          <template v-if="visibleTemplate">
            <input type="text" name="field6" group="group2" v-validate:model6.pattern="{ pattern: '/hoge/' }">
            <pre>$validator1 in template: {{$validator1 | json}}</pre>
          </template>
        </form>
        <input type="text" name="field7" group="group3" v-validate:model7.mymax="{ mymax: max }">
        <pre>$validator1: {{$validator1 | json}}</pre>
        <p v-if="$validator1.model1.required">model1 required !!</p>
        <comp :$validator1="$validator1"></comp>
      </validator>
    </div>
    <script src="http://localhost:8080/webpack-dev-server.js"></script>
    <script src="./basic.build.js"></script>
  </body>
</html>
