<!DOCTYPE html>
<html>
  <head>
    <title>vue-validate example for browserify</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <form id="user-form">
      name: <input type="text" v-model="name" v-validate="required, minLength: 4, maxLength: 32"><br />
      email: <input type="text" v-model="email" v-validate="required, email"><br />
      age: <input type="text" v-model="age" v-validate="required, min: 18"><br />
      zip: <input type="text" v-model="zip" v-validate="required, pattern: /^[0-9]{3}-[0-9]{4}$/"><br />
      <input type="submit" value="send" v-if="valid">
      <div>
        <p v-if="validation.name.dirty && validation.name.required">name: required</p>
        <p v-if="validation.name.dirty && validation.name.minLength">name: too short</p>
        <p v-if="validation.name.dirty && validation.name.maxLength">name: too long</p>
        <p v-if="validation.name.valid">name: OK</p>
        <p v-if="validation.email.dirty && validation.email.required">email: required</p>
        <p v-if="validation.email.dirty && validation.email.email">email: invalid format</p>
        <p v-if="validation.email.valid">email: OK</p>
        <p v-if="validation.age.dirty && validation.age.required">qge: required</p>
        <p v-if="validation.age.dirty && validation.age.min">age: too short</p>
        <p v-if="validation.age.valid">age: OK</p>
        <p v-if="validation.zip.dirty && validation.zip.required">zip: required</p>
        <p v-if="validation.zip.dirty && validation.zip.pattern">zip: invalid format</p>
        <p v-if="validation.zip.valid">zip: OK</p>
      </div>
    </form>
    <script src="./build.js"></script>
  </body>
</html>
