<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>multiple select validation example</title>
    <script src="../../../node_modules/vue/dist/vue.js"></script>
    <script src="../../../dist/vue-validator.js"></script>
    <style>
      select.invalid { border-color: red; }
      .errors { color: red; }
    </style>
  </head>
  <body>
    <div id="app">
      <label for="language">select your favorite programming languages</label><br />
      <validity field="lang" :validators="{ required: true, maxlength: 3 }">
        <select multiple size="10" @change="handleValidate">
          <option value="javascript">JavaScript</option>
          <option value="ruby">Ruby</option>
          <option value="python">Python</option>
          <option value="perl">Perl</option>
          <option value="lua">Lua</option>
          <option value="go">Go</option>
          <option value="rust">Rust</option>
          <option value="elixir">Elixir</option>
          <option value="c">C</option>
          <option value="none">Not a nothing here</option>
        </select>
      </validity>
      <div class="errors">
        <p v-if="result.required">Required !!</p>
        <p v-if="result.maxlength">Sorry, The maximum is 3 languages !!</p>
      </div>
    </div>
    <script>
      new Vue({
        data: { result: {} },
        methods: {
          handleValidate: function (e) {
            var self = this
            var $validity = e.target.$validity
            $validity.validate(function () {
              var result = $validity.result
              self.result = result
            })
          }
        }
      }).$mount('#app')
    </script>
  </body>
</html>
