<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>lazy initialization example</title>
    <script src="../../node_modules/vue/dist/vue.min.js"></script>
    <script src="../../dist/vue-validator.min.js"></script>
  </head>
  <body>
    <div id="app">
      <user-setting :id="id" :displayname="username"></user-setting>
    </div>
    <script>
      // for fake fetch function
      function getDispalyName (id, cb) {
        setTimeout(function () {
          cb(null, 'username1')
        }, 2000)
      }

      // for fake store function
      function saveDisplayName (id, val, cb) {
        setTimeout(function () {
          cb(null)
        }, 2000)
      }

      new Vue({
        el: '#app',
        data: {
          id: 1,
          username: ''
        },
        components: {
          'user-setting': {
            template: '<validator lazy name="validation">' +
              '<form novalidate @submit.prevent="onSubmit">' + 
              'DisplayName: <input type="text" v-model="displayname" v-validate:field1="{ required: true, maxlength: 32 }"><br />' + 
              '<div>' + 
              '<span v-show="$validation.field1.required">Required your display name.</span>'  + 
              '<span v-show="$validation.field1.maxlength">Your display name is too long.</span>' + 
              '</div>' + 
              '<input type="submit" value="send" v-if="$validation.valid">' + 
              '</form>' +
              '</validator>',
            props: ['id', 'displayname'],
            activate: function (done) {
              var self = this
              getDispalyName(this.id, function (err, displayname) {
                if (err) {
                  // handle error ...
                  return done()
                }
                self.displayname = displayname

                self.$activateValidator() // activate validator 

                done()
              })
            },
            methods: {
              onSubmit: function () {
                saveDisplayName(this.id, this.displayname, function (err) {
                  if (err) {
                    // handle error ...
                    return
                  }

                  alert('success your displayname updating !!')
                })
              }
            }
          }
        }
      })
    </script>
  </body>
</html>
