<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>validation result resetting example</title>
    <script src="../../../node_modules/vue/dist/vue.min.js"></script>
    <script src="../../../dist/vue-validator.min.js"></script>
    <style>
      .errors { color: red; }
    </style>
  </head>
  <body>
    <div id="app">
      <validator name="validation1">
        <form novalidate>
          <div class="username-field">
            <label for="username">username:</label>
            <input id="username" type="text" v-validate:username="['required']">
            <button type="button" @click="onReset('username')">Reset Validation</button>
          </div>
          <div class="password-field">
            <label for="password">password:</label>
            <input id="password" type="password" v-validate:password="{ required: true, maxlength: 15 }">
            <button type="button" @click="onReset('password')">Reset Validation</button>
          </div>
          <div class="errors">
            <p v-if="$validation1.username.required">Your name is required.</p>
            <p v-if="$validation1.password.required">Your password is required.</p>
            <p v-if="$validation1.password.maxlength">Your password is too long.</p>
          </div>
          <input type="submit" value="send" v-if="$validation1.valid">
          <button type="button" @click="onResetAll">Reset Validation</button>
        </form>
        <pre>{{ $validation1 | json }}</pre>
      </validator>
    </div>
    <script>
      new Vue({
        el: '#app',
        methods: {
          onReset: function (field) {
            this.$resetField(field)
          },
          onResetAll: function () {
            this.$resetValidation()
          }
        }
      })
    </script>
  </body>
</html>
