<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>custom validator global error message example</title>
    <script src="../../../node_modules/vue/dist/vue.min.js"></script>
    <script src="../../../dist/vue-validator.min.js"></script>
  </head>
  <body>
    <div id="app">
      <validator name="validation1">
        username: <input type="text" v-validate:username=['required']><br />
        age: <input type="text" v-validate:age=['numeric']><br />
        site: <input type="text" v-validate:site=['url']><br />
        <div>
          <p v-if="$validation1.username.required">{{ $validation1.username.messages.required }}</p>
          <p v-if="$validation1.age.numeric">{{ $validation1.age.messages.numeric }}</p>
          <p v-if="$validation1.site.url">{{ $validation1.site.messages.url }}</p>
        </div>
      <validator>
    </div>
    <script>
      // global error message with plain string
      Vue.validator('numeric', {
        message: 'invalid numeric value',
        check: function (val) {
          return /^[-+]?[0-9]+$/.test(val)
        }
      })

      // global error message with function
      Vue.validator('url', {
        message: function (field) {
          return 'invalid "' + field + '" url format field'
        },
        check: function (val) {
          return /^(http\:\/\/|https\:\/\/)(.{4,})$/.test(val)
        }
      })

      // build-in validator customizable
      var required = Vue.validator('required')
      Vue.validator('required', {
        message: function (field) {
          return 'required "' + field + '" field'
        },
        check: required
      })

      new Vue({
        el: '#app',
      })
    </script>
  </body>
</html>
