<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>literal example</title>
    <script src="../../../node_modules/vue/dist/vue.min.js"></script>
    <script src="../../../dist/vue-validator.min.js"></script>
  </head>
  <body>
    <div id="app">
      <validator name="validation">
      <form novalidate>
        ID: <input type="text" v-validate:id="['required']"><br />
        Password: <input type="text" v-validate:password="{ required: true, minlength: 8, maxlength: 16 }"><br />
        <div>
          <p v-if="$validation.id.required">Required ID.</p>
          <p v-if="$validation.password.required">Required Your Password.</p>
          <p v-if="$validation.password.minlength">Your Password is too short.</p>
          <p v-if="$validation.password.maxlength">Your Password is too long.</p>
        </div>
      </form>
      </validator>
    </div>
    <script>
      new Vue({
        el: '#app'
      })
    </script>
  </body>
</html>
