<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>validation timing customization example</title>
    <script src="../../node_modules/vue/dist/vue.min.js"></script>
    <script src="../../dist/vue-validator.min.js"></script>
    <style>
      .errors { color: red; }
    </style>
  </head>
  <body>
    <div id="app">
      <validator name="validation">
        <form novalidate @submit="onSubmit">
          <h1>user registration</h1>
          <div class="username">
            <label for="username">username:</label>
            <input id="username" type="text" 
              detect-change="off" detect-blur="off" v-validate:username="{
              required: { rule: true, message: 'required you name !!' }
            }" />
          </div>
          <div class="password">
            <label for="password">password:</label>
            <input id="password" type="password" v-model="password" 
              detect-change="off" detect-blur="off" v-validate:password="{
              required: { rule: true, message: 'required you new password !!' },
              minlength: { rule: 8, message: 'your new password short too !!' }
            }" />
          </div>
          <div class="confirm">
            <label for="confirm">confirm password:</label>
            <input id="confirm" type="password" 
              detect-change="off" detect-blur="off" v-validate:confirm="{
              required: { rule: true, message: 'required you confirm password !!' },
              confirm: { rule: true, message: 'your confirm password incorrect !!' }
            }" />
          </div>
          <div class="errors" v-if="$validation.touched">
            <validator-errors :validation="$validation"></validator-errors>
          </div>
          <input type="submit" value="register" />
        </form>
      </validator>
    </div>
    <script>
      new Vue({
        el: '#app',
        data: {
          password: ''
        },
        validators: {
          confirm: function (val) {
            return this.password === val
          }
        },
        methods: {
          onSubmit: function (e) {
            // validate manually
            this.$validate(true)

            if (this.$validation.invalid) {
              e.preventDefault()
            }
          }
        }
      })
    </script>
  </body>
</html>
