<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>binding example</title>
    <script src="../../../node_modules/vue/dist/vue.js"></script>
    <script src="../../../dist/vue-validator.js"></script>
  </head>
  <body>
    <div id="app">
      <validator name="validation">
        <form novalidate>
          ID: <input type="text" v-validate:id="rules"><br />
          <div>
            <p v-if="$validation.id.minlength">Your ID is too short.</p>
            <p v-if="$validation.id.maxlength">Your ID is too long.</p>
          </div>
        </form>
      </validator>
    </div>
    <script>
      new Vue({
        el: '#app',
        data: {
          rules: {
            minlength: 3,
            maxlength: 16
          }
        }
      })
    </script>
  </body>
</html>
