<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>validation result resetting example</title>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../dist/vue-validator.js"></script>
    <style>
      input.invalid { border-color: red; }
      .errors { color: red; }
    </style>
  </head>
  <body>
    <div id="app">
      <label for="username">username:</label>
      <validity ref="validity" field="username" :validators="{ required: true, minlength: 4 }">
        <input type="text" @input="handleValidate" @focusin="handleValidate" @focusout="handleValidate">
      </validity>
      <div class="errors">
        <p v-if="result.required">required username!!</p>
        <p v-if="result.minlength">too short username!!</p>
      </div>
      <button type="button" @click="resetValidation">reset validation</button>
      <div class="result">
        <p>validation result:</p>
        <pre>{{result}}</pre>
      </div>
    </div>
    <script>
      new Vue({
        data: {
          result: {}
        },
        mounted: function () {
          var self = this
          var $validity = this.$refs.validity

          // initialize validation result
          this.result = $validity.result

          // sync validation result with $watch of validity
          this._resultWatcher = $validity.$watch('result', function (val) {
            self.result = val
          })
        },
        destroyed: function () {
          // unwatch validation result of validity
          this._resultWatcher()
        },
        methods: {
          handleValidate: function (e) {
            // validate
            var $validity = this.$refs.validity
            $validity.validate()
          },
          resetValidation: function (e) {
            // reset validation result
            var $validity = this.$refs.validity
            $validity.reset()
          }
        }
      }).$mount('#app')
    </script>
  </body>
</html>
