<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>validity result sync with v-model example</title>
    <script src="../../../node_modules/vue/dist/vue.js"></script>
    <script src="../../../dist/vue-validator.js"></script>
    <style>
      input.invalid { border-color: red; }
      .errors { color: red; }
    </style>
  </head>
  <body>
    <div id="app">
      <label for="username">username:</label>
      <validity ref="username" field="username" v-model="validation" :validators="{ required: true, minlength: 4 }">
        <input type="text" @input="$refs.username.validate()" @focusout="$refs.username.validate()">
      </validity>
      <div class="errors">
        <p class="required" v-if="validation.result.required">required username!!</p>
        <p class="minlength" v-if="validation.result.minlength">too short username!!</p>
      </div>
    </div>
    <script>
      var vm = new Vue({
        data: {
          validation: {
            result: {}
          }
        }
      }).$mount('#app')
    </script>
  </body>
</html>
