<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>getting started</title>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../dist/vue-validator.js"></script>
    <style>
      input.invalid { border-color: red; }
      .errors { color: red; }
    </style>
  </head>
  <body>
    <div id="app">
      <label for="username">username:</label>
      <!-- wrap the target formable element with validity component -->
      <validity field="username" :validators="{ required: true, minlength: 4 }">
        <input type="text" @input="handleValidate" @focusout="handleValidate">
      </validity>
      <div class="errors">
        <p v-if="result.required">required username!!</p>
        <p v-if="result.minlength">too short username!!</p>
      </div>
    </div>
    <script>
      new Vue({
        data: { result: {} },
        methods: {
          handleValidate: function (e) {
            var self = this
            // get validity instance
            var $validity = e.target.$validity 
            // run validate method !!
            $validity.validate(function () {
              // keep validation result from result property of validity instance
              self.result = $validity.result
            })
          }
        }
      }).$mount('#app')
    </script>
  </body>
</html>
